body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7dbcb;
}

button {
    font-size: 18px;
    border-radius: 20px;
    padding: 4px;
}

#mainBox {
    border: 6px solid #280003;
    border-radius: 8px;
    height: 720px;
    width: 800px;
}

#gridBox {
    width: 580px;
    height: 580px;
    border: 6px solid black;
    margin: 40px 0 20px;
}

.topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

#sketchButtons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sizeContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

#titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 168px;
    width: 760px;
}

.sizeContainer button {
    width: fit-content;
}

h1 {
    font-size: 46px;
}

h1,
h3 {
    margin: 3px;
}